@use "global" as *;

.button {
    // text-align: center;
    display: inline-block;
    font-size: rem(14);
    font-weight: $normal;
    font-family: $english-font-family;
    color: $white;
    width: rem(202);
    padding: rem(19) rem(40);
    line-height: 1;
    position: relative;
    z-index: 1; // button__borderより上に配置したい
    border: rem(1) solid $green;
    background-image: linear-gradient(to right, transparent 50%, $green 50%);
    background-position: 100%; // 背景位置を右端に
    background-size: 200%; // サイズを2倍に
    transition: all .2s;
}

.button:hover {
    background-position: 0; // 位置が左端に戻る
    color: $green;
}

.button::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - rem(2))) rotate(30deg);
    right: rem(40);
    width: rem(12);
    height: rem(1);
    background-color: $white;
}

.button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: rem(40);
    transform: translateY(-50%);
    background-color: $white;
    width: rem(40);
    height: rem(1);
    transition: all .2s;
}

.button:hover::before {
    background-color: $green;
    transition: all .2s;
}

.button:hover::after {
    background-color: $green;
    transition: all .2s;
}

.button__border {
    width: rem(202);
    height: rem(54);
    border: rem(1) solid $green;
    position: absolute;
    top: rem(4);
    left: rem(4);
    z-index: 0;
}