@use "global" as *;

.campaign{
  position: relative;
}

.campaign__slider{
  margin-right: calc(50% - 50vw);
  margin-top: rem(24);
  padding-left: rem(5);
  padding-bottom: rem(10);
  @include mq(md){
    padding-bottom: rem(20);
    margin-top: rem(40);
  }
}

.campaign__slider-button {
  position: absolute;
  top: rem(0);
  width: rem(80);
  height: rem(80);
  transform: 0.3s;
}

.campaign__slider-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.campaign__button{
    margin-top: rem(40);
    text-align: center;
    position: relative;
    z-index: 0;
    @include mq(md) {
        margin-top: rem(60);
    }
}