@use "global" as *;

.campaign{
  position: relative;
}

.campaign__slider{
  margin-right: calc(50% - 50vw);
  margin-top: rem(24);
  padding-left: rem(5);
  padding-bottom: rem(10);
  @include mq(md){
    padding-bottom: rem(20);
    margin-top: rem(40);
  }
}

.campaign__button{
    margin: rem(40) auto 0;
    @include mq(md) {
        margin-top: rem(60);
    }
}