@use 'global' as *;

.footer {
    background-color: $green;
}

.footer__inner {
    padding-top: rem(48);
    padding-bottom: rem(56);
    margin: auto;
    @include mq(md) {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__copyright {
    font-size: rem(12);
    font-family: $english-font-family;
    font-weight: $normal;
    line-height: calc(18 / 12);
    color: $white;
    text-align: center;
    margin-top: rem(40);
    @include mq(md) {
        font-size: rem(14);
        margin-top: rem(80);
    }
}