@use 'global' as *;

.link-wrap {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
}

.link-wrap__nav {
    &:nth-child(2) {
        margin-left: rem(16);
    }
    &:nth-child(4) {
        margin-left: rem(34);
    }
}
