@use 'global' as *;

.link-wrap {
    display: flex;
    // justify-content: space-around;
}

.link-wrap__left,
.link-wrap__right {
    display: flex;
    flex-direction: column;
    @include mq(md) {
        flex-direction: row;
    }
}

.link-wrap__right {
    margin-left: rem(16);
    @include mq(md) {
        margin-left: 0;
    }
}

.link-wrap__nav {
    @include mq(md) {
        margin-left: rem(120);
    }
}

.link-wrap__left .link-wrap__nav:first-child {
    @include mq(md) {
            margin-left: 0;
        }
}

