@use "global" as *;

.slider__items {
  display: grid;
  grid-auto-flow: column;
}

.slider__item {
}

// .slider__item a {
//   display: inherit;
//   flex-direction: inherit;
//   flex-grow: 1;
// }

.slider__item a:hover {
}

// 画像スライダーのボタン
.slider-button-next {
  left: calc(100% - rem(260));
}

.slider-button-prev {
  left: calc(100% - rem(420));
}
