@use 'global' as *;

.voice {
    position: relative;
}

.voice::before {
    @include mq(md) {
        content: "";
        display: inline-block;
        background-image: url(../images/common/voice-kingyo.png);
        background-size: cover;
        width: rem(301);
        height: rem(138);
        position: absolute;
        top: rem(-120);
        left: calc(50% - min(47vw, rem(620.8)));
    }
}

.voice::after {
    @include mq(md) {
        content: "";
        display: inline-block;
        background-image: url(../images/common/voice-ibaratatsu.svg);
        background-size: cover;
        width: rem(71);
        height: rem(161);
        position: absolute;
        right: calc(50% - min(47vw, rem(540.8)));
        bottom: rem(-67);
    }
}

.voice__inner {

}

.voice__items {
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(30);
        display: flex;
        flex-wrap: wrap;
        gap: rem(40);
    }
}

.voice__button {
    margin-top: rem(40);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}
